.table-header {
    background-color: #7e7e7e;
    display: grid;
    /*grid-template-columns: repeat(10, minmax(0, 1fr));*/
    grid-template-columns: minmax(0, 0.7fr) minmax(0, 1.8fr) minmax(0, 1.2fr)
    minmax(0, 1.2fr)
    minmax(0, 0.8fr)
    minmax(0, 0.9fr)
    minmax(0, 1fr)
    minmax(0, 0.9fr) minmax(0, 1.5fr) minmax(0, 0.8fr);
    justify-items: start;
    align-items: center;
}

.table-header > div {
    /* padding-left: 15px;*/
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    gap: 5px;
}

.table-header div span {
    color: white;
}

FaSortAmountDown, FaFilter {
    align-self: center;
    color: white !important;
}

.table-header .id-div {
    padding-left: 15px;
}
